@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
/* gallery */
.section05 .c-content .c-images-layout_item {
  @media screen and (min-width: 380px) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.section05 .c-content .c-images-layout_item {
  @media screen and (min-width: 768px) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.section05 .c-content .c-images-layout_item {
  @media screen and (min-width: 1025) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}
