<header class="header-container">
  <section class="header-container_wrap bg-blue">
    <div class="header-content container">
      <div class="header-contact">
        <div class="header-contact_phone">
          <p><i class="fas fa-mobile-alt"></i>0905 439 788</p>
        </div>
        <div class="header-contact_email">
          <p><i class="far fa-envelope"></i>ketcautheplvk@gmail.com</p>
        </div>
      </div>
      <div class="social-wrapper">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </section>
  <section class="header-container_wrap container">
    <div class="space-between-content">
      <div class="site-branding">
        <a href="#"><img src="images/logo.png" alt=""></a>
      </div>
      <nav id="site-navigation" class="main-navigation mobile-menu-open" role="navigation">
        <button class="mobile-menu-toggle-button" style="display: none;">
          <i class="mobile-menu-close fa fa-bars" aria-hidden="true" style="display: none;"></i>
          <i class="mobile-menu-open fa fa-times" aria-hidden="true" style="display: block;"></i>
        </button>
        <div class="main-navigation-inner">
          <ul id="main-menu" class="menu" style="display: block;">
            <li class="menu-item menu-item-home">
              <a href="#" aria-current="page">Trang chủ</a>
            </li>
            <li class="menu-item">
              <a href="#1">Giới thiệu</a>
            </li>
            <li class="menu-item">
              <a href="#2">Lĩnh vực hoạt động</a>
            </li>
            <li class="menu-item">
              <a href="#3">Dự án</a>
            </li>
            <li class="menu-item">
              <a href="#4">Tin tức</a>
            </li>
            <li class="menu-item">
              <a href="#5">Bảng giá</a>
            </li>
            <li class="menu-item">
              <a href="#6">Liên hệ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</header>